@media all and (max-width: 768px) and (min-width : 320px){
          
         
  
            html, body {
            width: 100%;
            height : 100%; }
         
  
          body {
            margin: 0 auto;
            padding: 0px;
           width: 100%;
           box-sizing: border-box;
          }

          header img {
            display: flex;
            width: 121px;
            height: auto;
            padding: 30px;
            align-items: center;
            gap: 10px;
            margin-left: 50px;
        }

          header ul {
            margin-top: 0px;
            display: flex;
            width: 100%;
        }
      .container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 1440px;
    }

    .spaceAround {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1440px;
      margin: auto;
  }
        nav ul li {
          padding: 50px;
          width: 50%;
      }
      
      .titre .p {

        gap : 10px
      }
      .searchbar {
        display: flex;
        justify-content: center;
        width: 377px;
        border-radius: 15px;
        height: 49px;
        align-items: center;
        border: 0.5px solid #f2f2f2;
        margin-left: 80px;
    }

    .recherchetaille {
      width: 50px;
      border-radius: 15px;
    }

    .boutonMobile {
      display: none;
    }
    .boutonDesktop {
      display: block;
  }
  .flexbetween {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 42%;
    margin-bottom: 20px;
}

    .filtreTexte {
      padding-left: 0px;
  }
    .corps {
      width: 100%;
      background-size: cover;
      background-position: center;
      padding: 30px;
      margin-left: 80px;
  }
  .corps .titre {
    margin-bottom: 5px;
    margin-top: -45px;
}

        .corps p {
            margin-top: 0;
        }
          .hebergements, .taillepopulaire {
          width: 100%;
        }
        .taillepopulaire {
          margin-top: 20px;
        }
        
        .taillehebergement {
          flex: 200%;
          width: 100%;
          border-radius: 15px;
          background-color: transparent !important;
          padding: 30px;
          gap: 30px;
          height: 1435.5px;
          margin-left: 100px;
          display: flex;
          flex-direction: column;
      }
       
      .taillehebergement {

      order: 2;
      }

      .taillepopulaire{
        
        order: 1;

      }

      .hotel-info h4 {
        margin-bottom: 90px;
        margin-top: 0px;
    }


      .hotel-info p{
        margin-top: -50px;
      }
      
      .hotel-info h4 p {
        margin-top: 10px;
        margin-bottom: 52px;
      }
      .taillehebergement .card {
        width: 100%;
        background: white;
        justify-content: center;
        border-radius: 20px;
        padding: 3px 3px 15px 3px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        height: 207.25px;
    }

    .taillehebergement .card .img1 img{
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      border-top-left-radius: 20px;
      height: 124px;
      gap: 8px;
      display: flex;
      flex-wrap: wrap;
      object-fit: cover;
     
  }
  .taillepopulaire {
    flex: 100%;
    width: 100%;
    height: 569px;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    padding-left: 130px;
}


        .hebergements {
          margin-bottom: 20px;
        }
        .spaceBetween {
          display: flex;
          justify-content: space-between;
          align-items: center;
          
      }

      .container-activite .card2 {
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 20px 20px;
        gap: 30px;
        width: 100%;
        height: 200px;
    }

    .container-activite img {
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      height: 141px;
      filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
      border: 1px solid #ddd;
      display: flex;
      flex-wrap: wrap;
      object-fit: cover;
  }
      .container-cards h4{
       margin-top: 10px;

      }
  .container-activite {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    padding: 20px 19px 20px 19px;
    gap: 20px;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
}

  .footer-content {
    display: flex;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 8px;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

 

  .filter {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
}

.info {
  display: flex;
  margin-left: 30px;
  margin-right: 50px;
  gap: 10px;
  margin-top: 0px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 8px;
  max-width: 1440px;
  width: 100%;
  height: 461px;
  gap: 50px;
}
.footer-section {
  flex: 1;
  margin: 0 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
      }
      
    